.flash{'data-controller': "flash", class: "flash"}
  - @flash_messages.each do |type, message|
    - next if type == 'timedout'
    .alert.alert-dismissable.fade.show{ class: bootstrap_class_for(type) }
      %button{ type: "button", class: "close", 'data-dismiss' => "alert",  'aria-hidden' => "true" }
        &times;
      = sanitize(message).html_safe
