%h1.text-center.my-5= t(:consultant_profiles)
.row.justify-content-center
  - @result[:consultant_profiles].each do |cp|
    .col-12.col-md-4.p-3
      = component 'consultant_card', cp: cp
.my-5.d-flex.flex-row.justify-content-center
  = paginate @result[:consultant_profiles], theme: 'twitter-bootstrap-4'
