%footer.container-fluid.bg-dark
  .row.justify-content-center.pt-5
    .col-8.col-sm-6.col-lg-2
      %ul.list-unstyled
        %li 
          %a.text-white{ href: '#'} Связаться с нами
        %li 
          %a.text-white{ href: '#'} Условия использования
        %li 
          %a.text-white{ href: '#'} Политика конфиденциальности
    .col-8.col-sm-6.col-lg-2
      %h5.text-white Ест но иллум нуллам тинцидунт
      %small.text-muted
        Цу веритус яуалисяуе цонсететур дуо. Оптион лобортис ад вел.
  .row.justify-content-center.py-3
    .col-6.col-md-2
      %p.text-white 2019 © WebCon.    
    
    