%footer.container-fluid.bg-dark.mt-5
  .row.justify-content-center.pt-3
    .col-3
      %ul.list-unstyled
        %li 
          %a.text-white{ href: '#'} Связаться с нами
        %li 
          %a.text-white{ href: '#'} Условия использования
        %li 
          %a.text-white{ href: '#'} Политика конфиденциальности
    .col-3
      %h5.text-white Ест но иллум нуллам тинцидунт
      %small.text-muted
        Цу веритус яуалисяуе цонсететур дуо. Оптион лобортис ад вел.
  .row.justify-content-center.py-3
    .col-2
      %p.text-white 2019 © WebCon.    
    
    