%header
  %nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    %a.navbar-brand{ href: root_path } WebCon
    %ul.navbar-nav.ml-auto
      - if signed_in?
        %li.nav-item
          = link_to 'Выход', session_path, method: :delete, class: 'nav-link'