%header
  %nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    %a.navbar-brand{ href: '#' } WebCon
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'Выход', '#', class: 'nav-link'