%header
  %nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    %a.navbar-brand{ href: root_path } WebCon
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to t(:consultant_profiles), consultant_profiles_path, class: 'nav-link'
      - if current_user
        - if current_user.consultant?
          %li.nav-item
            = link_to t(:profile), edit_consultant_profile_path, class: 'nav-link'
        %li.nav-item
          = link_to t(:sign_out), session_path, method: :delete, class: 'nav-link'
